<h4 class='text-center'>Please log in with your Investec API Credentials </h4>
<%= form_tag auth_path do %>
<div class='row'>
  <div class="card col-5 mx-auto">
    <div class="card-body row">

      <div class="col-12 mb-2">
        <%=label_tag :client_id, 'Client ID', { class: "form-label"} %>
        <%=text_field_tag :client_id, "", class: 'form-control' %>
      </div>

      <div class="col-12 mb-2">
        <%=label_tag :secret, 'Client Secret', { class: "form-label"} %>
        <%=text_field_tag :secret, "", class: 'form-control' %>
      </div>

      <div class="col-12 mb-2">
        <%=label_tag :api_key, 'API Key', { class: "form-label"} %>
        <%=text_field_tag :api_key, "", class: 'form-control'%>
      </div>
      
      <div class="col-12 mb-2">
        <%= submit_tag "Log In", class: "btn btn-primary" %>
      </div>

    </div>
  </div>
<div>
<% end %>